# IMPORT LIBRARIES and DATASET

In [12]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv('Data/chatgpt_reviews.csv', sep=',')

df.head()

,reviewId,userName,content,score,thumbsUpCount,reviewCreatedVersion,at,appVersion
0,8d23ba1a-8455-4ea5-bbcd-47c6b00dd8eb,Dike Sina,Best Ai ever ‚ù§Ô∏è,5,0,1.2024.143,2024-06-05 22:27:21,1.2024.143
1,b4374835-e711-4ea8-a009-20cd45597d64,Oil Wealth,good app,5,0,1.2024.151,2024-06-05 22:26:17,1.2024.151
2,d97a7ab9-10be-40ae-a3c3-3e92a83b0659,Mojtaba farahani,Good luck üíô,5,0,1.2024.151,2024-06-05 22:17:37,1.2024.151
3,03be92f7-084a-4bac-9131-c59e7ca61ca6,Michael Chisonum,so nice,1,0,1.2024.143,2024-06-05 22:10:59,1.2024.143
4,18cfaae5-3bd6-4862-b161-5afc3adf5c2d,Zamir Rahmani,Not too much creative really makes me feel bor...,4,0,1.2024.151,2024-06-05 22:10:10,1.2024.151

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137132 entries, 0 to 137131
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   reviewId              137132 non-null  object
 1   userName              137131 non-null  object
 2   content               137128 non-null  object
 3   score                 137132 non-null  int64
 4   thumbsUpCount         137132 non-null  int64
 5   reviewCreatedVersion  125859 non-null  object
 6   at                    137132 non-null  object
 7   appVersion            125859 non-null  object
dtypes: int64(2), object(6)
memory usage: 8.4+ MB

In [15]:
df.describe()

               score  thumbsUpCount
count  137132.000000  137132.000000
mean        4.497258       0.521461
std         1.090049      12.580185
min         1.000000       0.000000
25%         5.000000       0.000000
50%         5.000000       0.000000
75%         5.000000       0.000000
max         5.000000    1193.000000

In [16]:
df['score'].value_counts(), df['thumbsUpCount'].value_counts()

(score
 5    104367
 4     16129
 1      8611
 3      5706
 2      2319
 Name: count, dtype: int64,
 thumbsUpCount
 0      132095
 1        2901
 2         695
 3         294
 4         148
         ...
 447         1
 881         1
 277         1
 231         1
 93          1
 Name: count, Length: 228, dtype: int64)

In [17]:
# Check for duplicate rows in df_train
duplicate_rows = df.duplicated()

# Count the number of duplicate rows
num_duplicate_rows = sum(duplicate_rows)

if num_duplicate_rows > 0:
    print(f"There are {num_duplicate_rows} duplicate rows in df_train.")
    df_cleaned = df.drop_duplicates()
    print('Dropped!')
else:
    print("There are no duplicate rows in df_train.")

There are 2509 duplicate rows in df_train.
Dropped!

In [18]:
# Check nan values

df_cleaned.isna().sum()

reviewId                    0
userName                    1
content                     4
score                       0
thumbsUpCount               0
reviewCreatedVersion    11143
at                          0
appVersion              11143
dtype: int64

In [19]:
# Drop only 'content' and 'userName' NaN rows

df_cleaned = df_cleaned.dropna(subset=['content', 'userName'])

df_cleaned.isna().sum()

reviewId                    0
userName                    0
content                     0
score                       0
thumbsUpCount               0
reviewCreatedVersion    11143
at                          0
appVersion              11143
dtype: int64

# DATA VISUALIZATION